.page.theme_dark {
  --accent-color: #000028;
  --font-color: #f1b2ce;
  --title-color: #ff0070;
  --title-neon-color: #db00ff;
  --dark-title: #000028;
  --decor-color: #ff0070;
  --section: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
}
