.page.theme_light {
  background-image: url(/images/cover-image-light.png);
  --accent-color: #fff1f7;
  --font-color: #353430;
  --title-color: #ff8dcb;
  --title-neon-color: #ffc2e6;
  --dark-title: #353430;
  --decor-color: #353430;
  --section: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  
  .camera {
    display: none;
  }

  .title-bottom {
    text-shadow: 2px 2px 0px #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #fff1f7;
    --font-color: #353430;
    --title-color: #ff8dcb;
    --title-neon-color: #ffc2e6;
    --dark-title: #353430;
    --decor-color: #353430;
    --section: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
    
    .page {
      background-image: url(/images/cover-image-light.png);
    }

    .camera {
      display: none;
    }

    .title-bottom {
      text-shadow: 2px 2px 0px #ff0070;
    }
  }
}
