.page {
  background-color: var(--accent-color);
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  position: relative;
  overflow: auto;
  transition: 1s;
  padding: 10px;
}

.header-content {
  display: grid;
  block-size: 100%;
  grid-template-rows: 1fr min-content 1fr;
}

.title {
  color: var(--title-neon-color);
  text-shadow: 4px 4px 0px #ff0070;
  font-weight: 700;
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  align-self: center;
  block-size: 26px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--decor-color);
  text-transform: lowercase;
  font-weight: 400;
  cursor: pointer;
  line-height: 18px;
  block-size: 23px;
  padding: 0 13px 3px 13px;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  pointer-events: none;
}

.header-text {
  text-align: left;
  align-self: center;
}

.video {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 400;
}

.video::after {
  content: "";
  width: 9px;
  height: 9px;
  top: 10px;
  left: 43px;
  background-color: var(--title-color);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 4px 2px var(--title-color);
  animation: glow 1.5s linear infinite alternate;
  inset-block-start: 8px;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.section__title {
  color: var(--section);
  font-size: inherit;
  font-weight: 700 !important;
  line-height: inherit;
}

.title-decor {
  color: var(--dark-title);
  background-color: var(--title-color);
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--title-color);
  outline: none;
}

.link:hover {
  border-block-end: 1px solid var(--font-color);
}

.link:focus-visible {
  border: 1px solid var(--font-color);
}

.column-wrapper > .wrapper > .title-decor {
  font-weight: 400;
}

.content {
  display: grid;
  grid-auto-flow: row;
  gap: 50px;
  block-size: 100%;
  padding-inline: 10px;
  margin-block-start: 40px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.column-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.content__paragraph {
  color: var(--font-color);
}

.image {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
}

.image-section {
  margin-block-start: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-sunset {
  grid-area: sunset;
}

.img-icecream {
  grid-area: icecream;
}

.img-tape {
  grid-area: tape;
}

.img-book {
  grid-area: book;
}

.img-street {
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  block-size: 100vh;
  text-shadow: 2px 2px 0px #ff0070;
  margin-block-start: 40px;
}

.title-bottom {
  margin-block-start: 0;
}

@media (width>=768px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .video {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-text {
    justify-self: end;
    inline-size: 49%;
  }

  .content {
    margin-block-start: 60px;
    padding-inline: 20px;
    gap: 80px;
  }

  .column-top {
    grid-area: 2/2/3/3;
  }

  .content-section {
    display: grid;
    grid-template-columns: 236px 1fr;
  }

  .column-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .column-section-title {
    inline-size: 236px;
  }

  .image-section {
    display: grid;
    gap: 20px;
    transition: 1s;
    object-fit: contain;
    margin-block-start: 20px;
    grid-template-areas:
      "sunset sunset icecream"
      "tape book icecream"
      "tape street street";
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (width>=1024px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-inline-start: 19px;
  }

  .content-section {
    grid-template-columns: 314px 1fr;
  }

  .column-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47px 1fr;
    gap: 20px;
  }

  .column-section-title {
    grid-area: 1/4/1/1;
    inline-size: 315px;
  }
}
