/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #000028;
  --font-color: #F1B2CE;
  --title-color: #FF0070;
  --title-neon-color: #DB00FF;
}